.exhibitionWrap
  .header
    = render partial: "sharedParts/subPage_header"
  = form_with(model: @product, local: true, class: "main") do |f|
    .smallWrap
      .imgsBox.formBox
        .formBox__upper
          .formBox__upper__label 出品画像
          .formBox__upper__required 必須
        .caption 最大10枚までアップロードできます
        = f.file_field 
        .img

    .smallWrap
      .nameBox.formBox
        .formBox__upper
          .formBox__upper__label 商品名
          .formBox__upper__required必須
        =f.text_field :name, class: "formBox__input"
      .descriptionBox.formBox
        .formBox__upper
          .formBox__upper__label 商品の説明
          .formBox__upper__required 必須
        = f.text_field :description, class: "formBox__input"

    .smallWrap
      .caption 商品の詳細
      .categoryBox.formBox
        .formBox__upper
          .formBox__upper__label カテゴリー
          .formBox__upper__required 必須
        =f.text_field :category, class: "formBox__input"
      .brandBox.formBox
        .formBox__upper
          .formBox__upper__label ブランド
          .formBox__upper__option 任意
        = f.text_field :description, class: "formBox__input"
      .conditionBox.formBox
        .formBox__upper
          .formBox__upper__label 商品の状態
          .formBox__upper__required 必須
        = f.text_field :condition, class: "formBox__input"
    
    .smallWrap
      .caption 配送について
      .shippingChargeBox.formBox
        .formBox__upper
          .formBox__upper__label 配送料の負担
          .formBox__upper__required 必須
        =f.text_field :shipping_charge, class: "formBox__input"
      .prefectureBox.formBox
        .formBox__upper
          .formBox__upper__label 配送元の地域
          .formBox__upper__required 必須
        = f.text_field :prefecture, class: "formBox__input"
      .periodBox.formBox
        .formBox__upper
          .formBox__upper__label 配送までの日数
          .formBox__upper__required 必須
        = f.text_field :period, class: "formBox__input"

    .smallWrap
      .caption 価格 (¥300〜9,999,999)
      .priceBox.formBox
        .formBox__upper
          .formBox__upper__label 販売価格
          .formBox__upper__required 必須
        = f.text_field :shipping_charge, class: "formBox__input"
      .commission
        .caption 販売手数料 (10%)
        .calc
      .benefit
        .caption 販売利益
        .calc
      = f.submit class: "exhibition btn_red", value: "出品する"
      = link_to "戻る", root_path, class: "btn_gray"

  .footer
    = render partial: "sharedParts/subPage_footer"
